$main: #502314;
$white: #ffffff;
$buttonColor: #f5ebdc;
$bgButton: #f58538;
$bgCard: #fcf6ec;

$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;
